// @use 'base/variables' as v;
// @use 'base/mixins' as m;
@use '../base/variables' as v;
@use '../base/mixins' as m;



.header { 
    background-color: v.$rey;
    // border: 3px solid v.$naranja;

    @include m.tablet {
        &.fixed {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: .1rem .2rem .6rem v.$naranja;
        }
    }

    .contenido-header {    
        padding: 1rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    // img {
    //     text-align: center;
    //     @include m.tablet {
    //         text-align: left;
    //         margin: 0;
    //     }
    // }
    img {
        display: block;
        margin: 0 auto; /* Centrado por defecto */
        @include m.tablet {
          margin: 0; /* Ajuste para tablets */
          float: left; /* Alinea a la izquierda en tablets */
        }
      }
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    @include m.tablet {
        flex-direction: row;
    }
    a {
        color: v.$blanco;
        font-size: 2rem;

        &:hover,
        &.active {
            color: v.$naranja;
        }
    }
}
