// @use 'base/variables' as v;
// @use 'base/mixins' as m;
@use '../base/variables' as v;
@use '../base/mixins' as m;



.sobre-festival {
    @include m.contenedor;
    @include m.tablet {
        @include m.grid(2);
    }
    img {
        border-radius: 10px;
    }
}

.contenido-festival {
    margin-top: 20rem;
    p{
        color: v.$rosa;
    }
    h2 {
        margin-bottom: 2rem;
        color: v.$verde;
        text-shadow: 2px 2px 8px v.$naranja, 2px 2px 0 v.$naranja, 2px 2px 0 v.$naranja, 2px 2px 0 v.$naranja;
        
    }
    .fecha {
        color: v.$naranja;
        font-weight: 700;
    }
    .boton {
        color: v.$blanco;
        background-color: v.$verde;
        // border: none;
        width: 15rem;
        height: 4rem;
        border-radius: 20px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 15px;
        border: 2px solid v.$naranja;
        box-shadow: 2px 2px 8px v.$naranja, 2px 2px 0 v.$naranja, 2px 2px 0 v.$naranja, -2px -2px 0 v.$naranja;
    }
}